body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}
h1 {
  font-size: 62px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 20px;
}
p {
  color: rgb(185, 184, 184);
}
.nav_main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  margin-bottom: 50px;
}
.header_left {
  position: relative;
}
.header_left-button {
  margin-right: 20px;
  color: aliceblue;
  background-color: #ff5e00;
  border-style: none;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 20px;
  width: 20px;
}
.header_left-text {
  font-weight: bold;
  font-size: 120%;
  margin-left: 35px;
  color: black;
}
.nav_main_list {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav_main_item {
  margin-right: 30px;
  white-space: nowrap;
}
.nav_main_item a {
  text-decoration: none;
  color: black;
}
.header_right-button {
  color: orange;
  background-color: #fff;
  border-color: #ff5e00;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}
.section_demo,
.section_cloud,
.section_plan {
  width: 850px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section_20 {
  width: 1100px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 50px;
}
.section_image {
  background: linear-gradient(-124deg, rgb(250, 149, 59), rgb(246, 37, 19));
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
  margin-top: 200px;
}
.imgRihgt {
  float: right;
  width: 50%;
}
.img2 {
  width: 900px;
  margin-top: 40px;
  text-align: center;
}
.img_firme {
  margin-left: 250px;
  width: 1000px;
  margin-top: 50px;
}
.lien_cloud {
  color: #ff5e00;
  text-decoration: none;
}
.section_demo-try {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.section_demo-form {
  background-color: #ff5e00;
  border-radius: 5px;

  padding: 10px 10px 10px 10px;
  border-style: none;
  margin-right: 20px;
}

.section_demo-form select {
  color: #fff;
  border-style: none;
  background-color: #ff5e00;
}
.section_20 {
  height: 500px;
  background: url(images/background-orange.jpg);
  text-align: center;
  position: relative;
  margin-top: 250px;
}
.section_20 h2 {
  color: #fff;
  padding: 50px 200px 0 200px;
}
.section_20 h3 {
  color: #fff;
  font-size: 20px;
}
.section_20-button {
  color: #ff5e00;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-style: none;
  margin-top: 20px;
}
.section_20-image {
  width: 900px;
  position: absolute;
  top: 200px;
  left: 100px;
}
.section_plan {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 200px;
}
.plans {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.plans button:hover {
  color: #fff;
  background-color: #ff5e00;
}
.section_plan-list {
  list-style: url("images/planList.png");
  padding: 15px;
  line-height: 220%;
}
.section_plan-prix {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.section_plan-button {
  color: orange;
  background-color: #fff;
  border-color: #ff5e00;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}
.plan_up {
  font-size: 10px;
}
.footer_nav_main {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 80px;
  margin-bottom: 50px;
}
.footer_left {
  position: relative;
  padding-right: 50px;
}
.nav_footer_list {
  list-style: none;
  padding: 0px;
  line-height: 200%;
}
.nav_footer_list a {
  text-decoration: none;
  color: #000;
}
.footer_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin: 0 auto;
  width: 1000px;
}
.footer_info_center {
  color: rgb(7, 7, 7);
  font-size: 12px;
}
.footer_info_right a {
  text-decoration: none;
}
.footer_info_left a {
  text-decoration: none;
  color: rgb(7, 7, 7);
  font-size: 12px;
  margin-left: 10px;
}
.footer_email {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 10px 10px 10px 10px;
  border-color: #000;
  display: flex;
  justify-content: space-between;
  width: 110%;
}
.footer_email p {
  color: #000;
}
.footer_email-button {
  background-color: #ff5e00;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border-style: none;
}
.footer_email-bt {
  border-style: none;
  color: #000;
}
.footer_email-text {
  font-size: 80%;
}
